.mouse {
  cursor: pointer;
}

.border {
	border:1px solid black;
	/*min-height: 80vh;*/
}

.borderWithoutHeight {
	border:1px solid black;
}

.border-menu {
    padding-left: 5px;
    border-left: 6px solid white;
    font-size: 24px;
}

.borderSpace {
    border: 2px solid white;
    height: 390px;
}

.note {
	margin: 0 0 20px;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
	border-radius: 0 4px 4px 0;
}

.note-info {
	background-color: #f5f8fd;
	border-color: #8bb4e7;
	color: #010407;
}

.note-danger {
	background-color: #fef7f8;
	border-color: #f0868e;
	color: #210406;
}

.col-md-2, .col-md-6 {
	transition: width 0.5s;
}

#Global #left {
    float:left;
    width:20%;
}

#Global #right {
    margin-left:20%   
}

/*.container { position: relative; width: 130px; height: 150px; float: left; margin-left: 10px; }*/
/*.checkbox { position: absolute; bottom: 0px; right: 0px; }*/